name: Postar tweet
on:
    schedule:
        - cron: '45 11 * * *'
    workflow_dispatch:
        inputs:
            EXECUTAR_DIRETO:
                description: 'Executar diretamente?'
                default: 'true'
                required: false

jobs:
    test:
        name: Postar tweet
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js 16.x
              uses: actions/setup-node@v2
              with:
                  node-version: 16
            - name: Install dependencies
              run: npm ci

            - name: Post tweet
              env:
                  APP_KEY: ${{ secrets.APP_KEY }}
                  APP_SECRET: ${{ secrets.APP_SECRET }}
                  ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
                  ACCESS_SECRET: ${{ secrets.ACCESS_SECRET }}
                  DATA_FERIAS: ${{ secrets.DATA_FERIAS }}
                  DATA_RECESSO: ${{ secrets.DATA_RECESSO }}
                  EXECUTAR_DIRETO: ${{ github.event.inputs.EXECUTAR_DIRETO }}
              run: yarn start
